.bg-modal,
.bg-modal-add,
.bg-modal-addField,
.bg-modal-updateField,
.bg-modal-reservation {
  background-color: rgba(221, 221, 221, 0.932);
  width: 100%;
  height: 100% !important;
  position: unset;
  z-index: 1000;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-contents,
.modal-contents-add,
.modal-contents-addField,
.modal-contents-updateField {
  min-height: 500px;
  width: 800px;
  background-color: rgb(255, 254, 254);
  text-align: center;
  padding: 20px;
  position: relative;
  border-radius: 4px;
  border-radius: 20px;
  box-shadow: 5px 10px 18px #888888;
}
.modal-contents-reservation {
  min-height: 600px;
  width: 1400px;
  background-color: rgb(255, 254, 254);
  text-align: center;
  padding: 20px;
  position: relative;
  border-radius: 4px;
  border-radius: 20px;
  box-shadow: 5px 10px 18px #888888;
}

input {
  margin: 15px auto;
  display: block;
  width: 50%;
  padding: 8px;
  border: 1px solid gray;
}

.close,
.close-add {
  position: absolute;
  display: flex;
  width: 95%;
  top: 0;
  height: 1px;
  justify-content: flex-end;
  margin-top: 10px;
  color: #333;
  cursor: pointer;
}
.home {
  overflow: hidden;
}
.confirm_button {
  margin-left: 10px;
  padding: 0.5em 1em;
}
.scrollable {
  max-height: 400px;
  overflow: scroll;
  width: 1250px;
}
#table {
  margin-bottom: 4em;
}
.table-custum-design {
  width: 1200px;
}
.address_design {
  max-width: auto;
}
.tools_container {
  display: flex;
  width: 1200px;
  margin: 2em 0;
  justify-content: space-between;
  align-items: center;
}
.search_container {
  width: 50%;
}
.exist_style {
  display: flex;
  justify-content: center;
}
.Toastify__toast {
  position: absolute;
  z-index: 1300;
}
